/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 sept. 2020, 11:47:29
    Author     : ntessier
*/

.cadreCivilite{
    
    background-color: white;
    text-align: center;
    width: 100%;
    border-style:solid;
    border-color: white;
}
.nomPrenom{
    
    font-family: "Liberation Serif";
    font-size: 170%;
    font-weight: bolder;
    text-align: center;
    
}
    
.photo{
      position: absolute;
      left: 0px;
      top: 10px;
      width: 80px;
      height: 100px;
}    

.adresse{
    
    font-family: "Liberation Serif";
    font-style: oblique;
    font-size: 120%;
    margin-top: auto;
    
}

.ageTel{
    font-style: normal;
}

.courriel{
    color: mediumpurple;
}
    
.typeStage{
    font-weight: bold;
    font-style: normal;
}


.cadreFormation{
    position: absolute;
    left: 0px;
    top: 125px;
    width: 650px;
    padding-left: 0px;
    padding-right: 650px;
    padding-top: 10px;
    padding-bottom: 10px;
    /*height: 200px;*/
   /* border: 2px ridge blueviolet;
    border-radius: 25px;*/
    font-size: small;
    margin-bottom: 100px;
    background-color: #d2e7ec ;
    
}
.titreRubrique{     
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
    display: block;
    width: 1300px;
    /*border: 3px outset yellow;*/
    /*border-radius: 15px;*/
    color: black;
    text-align: center;    
    margin-bottom: 10px;
    border-style: solid none;
}